

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #003366;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: #003366;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.container{
    margin: 0 auto;
    width: 940px;
}

header{
    position: relative;
    border-image: 50%;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}


.busca,
.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.busca,
.menu-departamentos{
    float: left;
}

.menu-departamentos{
    clear: left;
}

.destaque{
    margin-top: 10px;
}

.menu-departamentos{
    margin-top: 10px;
    padding-bottom: 10px;
}

.painel{
    margin: 10x 0;
    padding: 10px;
    width: 445px;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;

    margin: 2px;
    padding-bottom: 10px; 
}

.painel h2{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades{
    background-color: #f5dcdc;
}

.mais-vendidos{
    background-color: #dcdcf5;
}

footer{
    background-image: url(../../img/fundo-rodape.png);
}

.social a{
    height: 32px;
    width: 32px;

    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url(../../img/facebook.png);
}

.social a[href*="twitter.com"]{
    background-image: url(../../img/twitter.png);
}

.social a[href*="google.plus.com"]{
    background-image: url(../../img/googleplus.png);
}

footer{
    clear: both;
}

footer{
    padding: 20px 0;
}

footer .container, img{
    position: relative;
    
}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social li{
    float: left;
    margin-left: 25px;
}

.painel, .mais-vendidos, img{
    position: center;
    height: 50%;
   width: 50%;
    
}